/**
 * CSS file for ClassExtender extra
 *
 * Copyright 2012-2022 Bob Ray <https://bobsguides.com>
 * Created on 04-07-2014
 *
 * @package classextender
 */

div#class_extender {
    font-family: arial, Helvetica, sans-serif;
    font-size:12pt;
    width: 40%;
    padding:30px;
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    border-radius:10px;
    background-color: #d3d3d3;
}

form#class_extender_form fieldset {
    padding-top: 0;
    margin-top:0;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color:#efefef;
}

form#class_extender_form input {
    width:14em;
    padding-left:10px;
    margin-bottom:15px;
    border-radius:10px;
}

form#class_extender_form legend {
    padding: 3px 10px;
    background-color: #efefef;
    border-radius: 10px;
    border: 1px solid black;
}

p.ce_error, .error, span.error {
    color: #c80000;
}

p.ce_success {
    color:green;
}

.get_ext_resources, .get_ext_users, .set_resource_placeholders, .set_user_placeholders, .user_search_results   {
	background-color:lightgray;
	padding:1em;
	padding-top:.5em;
}
.loginUsernameLabel, .LoginPasswordLabel, .loginLoginButton {
	display: block;
	margin: 20px 0;
}

fieldset.ce_fieldset {
	background-color:lightgray;
	border-radius: 10px;

}

fieldset.ce_fieldset legend {
	border-radius: 10px;
	padding: 10px 20px;
	background-color:white;
	border:1px solid
}

.user_search_results {
	border-radius: 10px;
	border:1px solid;
}

.ce_fieldset label {
    line-height: 40px;
}
